<font color=red>Import Pandas

In [1]:
import pandas as pd

<font color=red>Import 'house_rental_data.csv.txt'

In [2]:
house_rental_data = pd.read_csv('house_rental_data.csv.txt')
house_rental_data

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
0,1,1177.698,2,7,2,2,2,62000
1,2,2134.800,5,7,4,2,2,78000
2,3,1138.560,5,7,2,2,1,58000
3,4,1458.780,2,7,3,2,2,45000
4,5,967.776,11,14,3,2,2,45000
...,...,...,...,...,...,...,...,...
640,644,1359.156,7,15,3,2,2,45000
641,645,377.148,4,10,1,1,1,24800
642,646,740.064,13,14,1,1,1,45000
643,647,1707.840,3,14,3,2,2,65000
644,648,1376.946,6,7,3,2,1,36000

<font color=red>Remove 'Unnamed' column

In [8]:
house_rental_data = house_rental_data.drop(house_rental_data.columns[0], axis = 1)
house_rental_data

     Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
0        2           7        2            2         2  62000
1        5           7        4            2         2  78000
2        5           7        2            2         1  58000
3        2           7        3            2         2  45000
4       11          14        3            2         2  45000
..     ...         ...      ...          ...       ...    ...
640      7          15        3            2         2  45000
641      4          10        1            1         1  24800
642     13          14        1            1         1  45000
643      3          14        3            2         2  65000
644      6           7        3            2         1  36000

[645 rows x 6 columns]

<font color=red>Find 'Number of rows and columns'

In [9]:
house_rental_data.shape

(645, 6)

<font color=red>Data Preparation and Train-Test Split for Machine Learning

Data Splitting: Feature and Target Variable Separation
<br>Drop 'Price' Column and save as variable x and y
<br><font color=green>Press only one time shift+Enter, function will run otherwise it will through error if we press more that one.

In [10]:
x = house_rental_data.drop(['Price'], axis=1)
y = house_rental_data['Price']

Splitting Data into Training and Testing Sets using scikit-learn's train_test_split
<br><font color=green>Note: The test_size parameter is set to 0.2, which means that 20% of the data will be allocated to the testing set, while the remaining 80% will be used for training. 
<br>The random_state parameter is set to 0 to ensure reproducibility of the split.

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=0)

Find 'Number of rows' and 'Number of columns' x_test

In [12]:
x_test.shape

(129, 5)

Training a K-Nearest Neighbors Regressor Model

In [13]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor()
knr.fit(x_train, y_train)

KNeighborsRegressor()

Generating Predictions using the K-Nearest Neighbors Regressor Model

In [14]:
y_pred = knr.predict(x_test)
y_pred

array([ 83777.6,  35800. ,  55000. ,  44999.8,  39600. ,  84777.6,
        79400. ,  42599.8,  37600. ,  31000. ,  44999.8,  30600. ,
        46600. ,  49600. ,  63400. ,  67200. ,  62555. ,  36400. ,
        51100. ,  53377.6,  35600. , 119000. ,  74400. , 151600. ,
        51100. ,  61400. , 106000. ,  38000. ,  86600. ,  57799.8,
        58200. ,  36400. ,  52000. ,  84777.6,  37600. ,  26720. ,
        80400. ,  67200. ,  73400. ,  57200. ,  45599.8,  80400. ,
        58917.6,  51100. ,  98999.8,  45424. ,  54800. ,  32920. ,
        87000. ,  58600. , 151800. ,  55400. ,  30600. ,  65400. ,
        47799.8,  67200. ,  51500. ,  49600. ,  76800. ,  84600. ,
        89600. ,  53377.6,  43378. ,  22600. ,  90800. ,  66000. ,
        47000. ,  35560. ,  31000. ,  38460. ,  43880. ,  80599.8,
        44799.8,  58600. ,  84777.6,  28320. ,  49199.8,  73999.8,
        85400. ,  51800. ,  41812.8,  41000. ,  76199.8,  43880. ,
        57200. ,  64000. ,  52200. ,  52199.8,  79399.6,  22480. ,
        61400. ,  74400. ,  55400. ,  43000. ,  51100. ,  39199.8,
        58917.6,  79400. ,  46800. ,  56600. ,  34559.8,  66400. ,
        46199.8,  76800. ,  84777.6,  38260. ,  32260. ,  95400. ,
        56500. ,  47800. ,  31760. ,  67000. ,  63077.6,  51100. ,
        92800. ,  51100. ,  55000. ,  68600. ,  77399.8,  68999.8,
        25000. ,  67200. ,  37600. ,  49519.8,  42560. ,  53200. ,
        76000. ,  39260. ,  44999.8])

Making Single Data Point Prediction using the K-Nearest Neighbors Regressor Model 
<br>Also import numpy

In [27]:
import numpy as np
input_data = (2,1,3,5,4)
convert_to_array = np.asarray(input_data)
re_shape = convert_to_array.reshape(1,-1)
prediction = knr.predict(re_shape)
print(prediction)

[62600.]

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

Assessing the Accuracy of the K-Nearest Neighbors Regressor Model with the score() Function

In [25]:
knr.score(x_test, y_test)

0.3768979233327673